[submodule "vendor/libmpsse"]
	path = vendor/libmpsse
	url = https://github.com/stephendpmurphy/libmpsse-1.git
[submodule "vendor/libftdi"]
	path = vendor/libftdi
	url = https://github.com/stephendpmurphy/libftdi
