[submodule "vendor/libmpsse"]
	path = vendor/libmpsse
	url = https://github.com/l29ah/libmpsse.git
[submodule "vendor/libftdi"]
	path = vendor/libftdi
	url = https://github.com/stephendpmurphy/libftdi
